<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>ts123.appswitch</string>
	<key>connections</key>
	<dict>
		<key>2A72C66D-ADA2-4CB7-9DB2-8FD3E6FB4284</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>16039760-F173-4AB8-9C73-DA7401D5DE23</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>9758687A-61C2-435F-9DEC-6620DFE66095</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2A72C66D-ADA2-4CB7-9DB2-8FD3E6FB4284</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>ts123</string>
	<key>description</key>
	<string>Switch to other running applications</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>AppSwitch</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>hotkey</key>
				<integer>43</integer>
				<key>hotmod</key>
				<integer>524288</integer>
				<key>hotstring</key>
				<string>,</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>9758687A-61C2-435F-9DEC-6620DFE66095</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>,</string>
				<key>runningsubtext</key>
				<string>evaluting query ...</string>
				<key>script</key>
				<string>import suggest
suggest.main('''{query}''')
</string>
				<key>subtext</key>
				<string>ts task</string>
				<key>title</key>
				<string>app switch</string>
				<key>type</key>
				<integer>3</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>2A72C66D-ADA2-4CB7-9DB2-8FD3E6FB4284</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>4</integer>
				<key>script</key>
				<string>./activate_by_pid {query}

</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>16039760-F173-4AB8-9C73-DA7401D5DE23</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>16039760-F173-4AB8-9C73-DA7401D5DE23</key>
		<dict>
			<key>ypos</key>
			<real>50</real>
		</dict>
		<key>2A72C66D-ADA2-4CB7-9DB2-8FD3E6FB4284</key>
		<dict>
			<key>ypos</key>
			<real>50</real>
		</dict>
		<key>9758687A-61C2-435F-9DEC-6620DFE66095</key>
		<dict>
			<key>ypos</key>
			<real>50</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>https://github.com/ts123/AppSwitch.alfredworkflow</string>
</dict>
</plist>
